
<!--fonts
.noto-sans-tc {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.jetbrains-mono {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root{
  --dark-bg: #141414;
  --dark-font: #FFFDF0;
  --light-bg: #fffdf0
  --light-font: #141414;
}

body {
  font-family:Arial, Helvetica, sans-serif;
  background-color: rgb(255, 254, 240);
}

.dark{
  background-color: var(--dark-bg);
  color: var(--dark-font)
}

h1 {
  font-family: "Noto Sans TC";
  font-size: 70px;
  font-weight: 350;
  text-align: center;
}

p {
  position: relative;
  font-size: 50px;
  text-align: center;
}

img {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

a{
  font-size: 50px;
  color: var(--dark-font);
  border-radius: 50%;
}

.intro{
  font-size:  50px;
}

table{
  margin-left: auto;
  margin-right: auto;
}